# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
/.nyc_output

# next.js
/.next/
/out/
.next

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode
*.swp
*.swo
*.swn
*.bak

# Database
*.sqlite
*.sqlite3
*.db
/prisma/*.db
/prisma/migrations/

# Logs
logs
*.log

# Cache
.cache
.eslintcache
.stylelintcache

# Temporary files
*.tmp
*.temp
.temp
.tmp

# System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/